---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import { rajdnwPhotos2024, rajdnwPhotos2025 } from '../data/rajdnw-photos';
import NWRegistry from '../components/NWRegistry.astro';
import { t } from "../utils/i18n";

const eventDate = '23.05.2026 godz. 9:00';
const eventNumber = 'IV';
---

<Layout t={t} title="Zatyrani - IV Rajd Nordic Walking">
  <!-- Hero Section -->
  <div class="relative h-[calc(85vh-40px)] flex items-center justify-center text-white overflow-hidden">
    <div class="absolute inset-0">
      <img
        src="rajdnw/2025/header-brighter.webp"
        alt="Tło rajdu"
        class="w-full h-full object-cover"
        fetchpriority="high"
        loading="eager"
      />
      <div class="absolute inset-0 bg-black/20"></div>
    </div>
    <div class="relative text-center space-y-4 -translate-y-5">
      <div class="px-8rounded-lg mx-auto max-w-full">
        <h1 class="text-5xl font-bold text-gray-600">{eventNumber} Rajd Nordic Walking</h1>
      </div>

      <div class="pt-1 lg:pt-0 rounded-lg mx-auto inline-block">
        <h1 class="text-3xl font-bold text-gray-600">{eventDate}</h1>
        <p class="text-xl text-gray-600 text-center mt-2">"Młynówka" ul. Smolnicka 4, Leboszowice</p>
      </div>

      <div class="hidden lg:flex justify-center gap-4 w-full">
        <a
          href="/rajdnw-lista"
          class="inline-block bg-green-200/70 hover:bg-green-200 text-green-900 px-8 py-3 rounded-full"
        >
          Lista startowa
        </a>
        <a
          href="#zapisy"
          class="inline-block bg-green-200/70 hover:bg-green-200 text-green-900 px-8 py-3 rounded-full"
        >
          Zapisz się
        </a>
      </div>
    </div>

    <div class="absolute bottom-[60px] left-0 right-0 flex justify-center gap-4 lg:hidden">
      <a
        href="/rajdnw-lista"
        class="inline-block bg-green-200/70 hover:bg-green-200 text-green-900 px-8 py-3 rounded-full"
      >
        Lista startowa
      </a>
      <a
        href="#zapisy"
        class="inline-block bg-green-200/70 hover:bg-green-200 text-green-900 px-8 py-3 rounded-full"
      >
        Zapisz się
      </a>
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
    <!-- Bullet List and Image Section -->
    <h2 class="text-3xl font-bold text-center">Co warto wiedzieć</h2>
    <div class="grid md:grid-cols-2 gap-12 mb-16 py-8">
      <!-- Bullet List Section -->
      <div class="space-y-4 flex flex-col justify-center text-gray-700 text-lg">
        <ul class="list-none space-y-3">
          <li class="flex items-center">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Trasa prowadzi przez malownicze tereny leśne Leboszowic.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Istnieje możliwość wypożyczenia kijków do nordic walking po wcześniejszym kontakcie z organizatorem.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Szacowany czas przejścia trasy prowadzącej w większości leśnymi drogami to ok 3 godziny.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Limit uczestników to 50 osób.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Zapewniamy poczęstunek i ciepłe napoje.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Na koniec każdy uczestnik otrzyma niespodziankę.
          </li>
          <li class="flex items-center text-gray-700">
            <!-- Checkmark Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-green-500 mr-2 flex-none" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            Koszt to 20zł płatne na miejscu w dniu wydarzenia.
          </li>

        </ul>
        <p class="text-gray-700 mt-4">Kontakt: Ewa 663 473 341, Magda 608 394 936, Bożena 693 797 666</p>
        
      </div>
    
      <!-- Image Section -->
      <div class="flex items-center justify-center">
        <img
          src="rajdnw/logo.png"
          alt="Event Image"
          class="w-full max-w-sm rounded-lg shadow-lg"
        />
      </div>
    </div>
  </div>

  
  
  
    <!-- Photos Section 2025 -->
    {rajdnwPhotos2025.length > 0 && (
      <section class="max-w-7xl mx-auto mb-16">
        <h2 class="text-3xl font-bold text-center mb-10">Zdjęcia z 2025</h2>
        <PhotoGallery photos={rajdnwPhotos2025} />
      </section>
    )}

    <!-- Photos Section 2024 -->
    <section class="max-w-7xl mx-auto">
      <h2 class="text-3xl font-bold text-center mb-10">Zdjęcia z 2024</h2>
      <PhotoGallery photos={rajdnwPhotos2024} />
    </section>


    <section class="mt-16">
      <h2 id="zapisy" class="text-3xl font-bold text-center">Zapisz się</h2>
      <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <p>
          Liczba miejsc jest ograniczona do 50. Zapisz się już teraz!
        </p>
      </div>
      <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 mt-0 mb-4">
        <hr class="my-4 border-t border-gray-300" />
      </div>
      <NWRegistry />
    </section>
  </div>
</Layout>

