---
import type { Member } from "../data/members";

interface Props extends Member {
  t: (key: string) => string;
}

const { id, title, image, joinDate, from, t } = Astro.props;
const description = t(`members_content.${id}`);
---

<article class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col h-full">
  <img src={image} alt={title} class="w-full h-80 object-cover" />
  <div class="p-6 flex-1">
    <h3 class="text-xl font-bold mb-2">{title}</h3>
    {
      description &&
        description.split("\n\n").map((paragraph) => <p class="text-gray-600 mb-2">{paragraph}</p>)
    }
  </div>

  {/* Always at the bottom of the card */}
  <div class="p-6 text-sm text-gray-500 mt-auto">
    <p><strong>{t("zatyrusy.from")}:</strong> {from}</p>
    <p><strong>{t("zatyrusy.joined")}:</strong> {joinDate}</p>
  </div>
</article>
