---
interface Props {
  photos: {
    src: string;
    alt: string;
  }[];
  author?: string;
  authorLink?: string;
}

const { photos, author, authorLink } = Astro.props;
---

<div class="space-y-4">
  {
    author && (
      <p class="text-center text-gray-600">
        Autor –{" "}
        {authorLink ? (
          <a
            href={authorLink}
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-600 hover:underline"
          >
            {author}
          </a>
        ) : (
          author
        )}
      </p>
    )
  }

  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {
      photos.map((photo) => (
        <a href={photo.src} target="_blank" rel="noopener noreferrer">
          <img
            src={photo.src}
            alt={photo.alt}
            class="w-full aspect-[9/16] object-cover rounded-lg hover:shadow-md transition-shadow"
          />
        </a>
      ))
    }
  </div>
</div>
